body {
	margin: 0;
	border: 0;
	padding: 0;
	background: black;
}

#random {
	width: 100%;
	height: 40vh;
}

#mysongs{
	float: left;
	margin-top: 0;
	width: 30vw;
	height: 94.5vh
}

#allsongs-header{
	margin: 0;
	padding: 0; 
	color: green;
}

#site-header {
	text-align: center;
	background: black;
	width: 30%;
	margin: 0 auto;
	color: green;
	font-weight: bold;
}

#left-bar {
	width: 49vw;
	height: 100vh;
	background-color: white;
}

#top-bar {
	float: left;
	width: 48vw;
	background: green;
	height: 2%;
	border: 8px black solid;
}

li.allsongs, .plistsongs { 
	cursor: pointer;
	color: green; 
}

#new-song-form {
	position: relative;
	width: 44vw;
}

#audioplayer {
	background: white;
	height: 35vh;
}

#right-bar {
	width: 48vw;
	border: black solid 8px;
	height: 100vh;
	background: white;
	float: left;
	clear: none;
	position: absolute;
	top: 0;
	right: 0;
}

#names, #places{
	padding: 0;
	width: 200px;
	margin-left: 20px;
}

#plist {
	width: 85%;
	height: 20vh;
	background: grey;

}

.plist-play{
	margin-left: 10px;
}

#font-control {
	font-size: 30px;
}