$all-songs-header-color: green;
$all-songs-li: green;
$site-header-color: green;
$playlist-header-color: black;
$plist-song-color: green;
$new-song-form-color: black;
$plist-background-color:grey
$top-bar-background: green;
$top-bar-border: black;
$left-bar-background: white;
$right-bar-background: white;
$right-bar-border: black;
$site-header-background-color: black;



body {
	margin: 0;
	border: 0;
	padding: 0;
	background: black;
}

#random {
	width: 100%;
	height: 40vh;
}

#mysongs{
	float: left;
	margin-top: 0;
	width: 30vw;
	height: 94.5vh
}

#allsongs-header{
	margin: 0;
	padding: 0; 
	color: $all-songs-header-color;
}

#site-header {
	text-align: center;
	background: $site-header-background-color;
	width: 30%;
	margin: 0 auto;
	color: $site-header-color;
	font-weight: bold;
}

#left-bar {
	width: 49vw;
	height: 100vh;
	background-color: $left-bar-background;
}

#top-bar {
	float: left;
	width: 48vw;
	background: $top-bar-background;
	height: 2%;
	border: 8px $top-bar-border solid;
}

li.allsongs { 
	cursor: pointer;
	color: $all-songs-li; 
}

.plistsongs{
	cursor: pointer;
	color: $plist-song-color; 
}

#new-song-form {
	position: relative;
	width: 44vw;
}

#audioplayer {
	background: white;
	height: 35vh;
}

#right-bar {
	width: 48vw;
	border: $right-bar-border solid 8px;
	height: 100vh;
	background: $right-bar-background;
	float: left;
	clear: none;
	position: absolute;
	top: 0;
	right: 0;
}

#names, #places{
	padding: 0;
	width: 200px;
	margin-left: 20px;
}

#plist {
	width: 85%;
	height: 20vh;
	background: $plist-background-color;

}

.plist-play{
	margin-left: 10px;
}

